@model ToDoListApp.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<style>
    body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background: linear-gradient(135deg, #3498db, #8e44ad);
        color: #fff;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        overflow-x: hidden;
    }

    .container-fluid {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #manageSettings {
        background-color: rgba(255, 255, 255, 0.8);
        padding: 20px;
        border-radius: 10px;
        width: 80%;
        max-width: 400px;
        color: #2c3e50;
    }

    h2 {
        color: #3498db;
    }

    .text-success {
        color: #2ecc71;
    }

    .dl-horizontal {
        margin-top: 20px;
    }

    dt {
        font-weight: bold;
        margin-top: 10px;
    }

    dd {
        margin-bottom: 20px;
    }

    a {
        color: #3498db;
    }

        a:hover {
            color: #2980b9;
        }

    p {
        margin-bottom: 20px;
    }

    .btn-link {
        color: #3498db;
        text-decoration: underline;
        cursor: pointer;
    }

        .btn-link:hover {
            color: #2980b9;
        }
</style>

<div class="container-fluid">
    <section id="manageSettings">
        <h2>Manage</h2>
        <p class="text-success">@ViewBag.StatusMessage</p>
        <div>
            <h4>Change your account settings</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>Password:</dt>
                <dd>
                    [
                    @if (Model.HasPassword)
                    {
                        @Html.ActionLink("Change your password", "ChangePassword")
                    }
                    else
                    {
                        @Html.ActionLink("Create", "SetPassword")
                    }
                    ]
                </dd>
                <dt>External Logins:</dt>
                <dd>
                    @Model.Logins.Count [
                    @Html.ActionLink("Manage", "ManageLogins") ]
                </dd>
                <dt>Two-Factor Authentication:</dt>
                <dd>
                    <p>
                        There is no configured two-factor authentication provider. For information on how to enable two-factor authentication
                        for this ASP.NET application, please see <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>.
                    </p>
                </dd>
            </dl>
        </div>
    </section>
</div>
